#main{
    margin-top: 55px;
}

#register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#register-button {
    width: 150px;
    background-color: #6786aa;
}

#register-button:disabled {
    background-color: #5c78988c;
}

#login-back {
    background-image: linear-gradient(to right, rgba(186, 163, 163, 0.043), #6786aa);
}
